*.log
config/*.json
model/*
data/files/*
pids/*

npm-debug.log
npm-debug.log*

# Mac system file
.DS_Store
node_modules
dist
data

# mysql db data
/data/backup
/data/mysql
/data/mailserver
/data/storage
